{% block content %}

<div class="container">
	<div class="wrapper-main shadow">

		<!-- HEADER -->
		{% include "header" %}

		<!-- MAIN -->
		<div class="container-main">
			<!-- SIDEBAR -->
			<div id="navDesktop" class="col-sm-3">
				{% include "navigation" %}
			</div>
			<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="wrapper-content shadow">
					<header class="header-image-container">
						<img src="{{ "image-overlay.png" | asset_url }}" class="img-responsive image-overlay hidden-xs">
						<img src="http://placehold.it/1920x500" class="img-responsive">
					</header>
					<div class="container-content">
						
						<h1>Completed Projects</h1>

						<!-- Museum Tower -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Museum Tower</h3>
								<p>The first high rise building developed in downtown Miami with a planned metro rail station as a critical component of the design. Project is a great example of a public/private partnership.</p>
								<p class="text-center">Completed: 1990</p>
							</div>
						</div>

						<!-- Baptist Hospital -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Baptist Hospital</h3>
								<p>A 10-story office complex located on the Baptist Hospital Campus in Kendall.  Contains 128,740 square feet of space for staff physicians, including a physical rehabilitation center.</p>
								<p class="text-center">Completed: 1994</p>
							</div>
						</div>

						<!-- Beacon Centre -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Beacon Centre</h3>
								<p>Launched in 1989, this 205 acre, mixed use business park is located just west of Miami International Airport and contains more than 2,208,865 square feet of industrial/distribution leasable area.</p>
								<p class="text-center">Completed: 1998</p>
							</div>
						</div>
						
						<a href="/projects/index">< View All Projects</a>

					</div>

					{% include "copyright" %}

				</div> <!-- /wrapper-content -->

			</div>
		</div> <!-- /container-main -->
	</div>
</div>

{% endblock %}