{% block content %}

<div class="container">
	<div class="wrapper-main shadow">

		<!-- HEADER -->
		{% include "header" %}

		<!-- MAIN -->
		<div class="container-main">
			<!-- SIDEBAR -->
			<div class="col-sm-3">
				{% include "navigation" %}
			</div>
			<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="wrapper-content shadow">
					<header class="header-image-container">
						<img src="{{ "image-overlay.png" | asset_url }}" class="img-responsive image-overlay hidden-xs">
						<img src="http://placehold.it/1920x500" class="img-responsive">
					</header>
					<div class="container-content">
						<h1>The right properties. The right time. The right partner.</h1>
						<p>Codina Partners is and has been involved in the development of diversified quality projects for over twenty years. Visit some of our proudest success stories here. </p>

						<h2>Current Projects</h2>						
						<!-- Downtown Doral -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Downtown Doral</h3>
								<p>Your new hometown. Florida's largest and most exciting mixed-use development &mdash; a thriving city-center of 2,800 residences. 100,000 square feet of retail and more than 1,000,000 square feet of work-close-to-home office space.</p>
							</div>
						</div>
						
						<!-- Monterra -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>2020 Salzedo</h3>
								<p>A sixteen story luxury high-rise apartment community, 2020 Salzedo has started construction. The property offers a superior location in downtown Coral Gables, which has ten million square feet of offices, as well as shops and restaurants. Additionally, the area boasts close proximity to central Miami, Coconut Grove, and South Miami, as well as Miami International Airport and the University of Miami.</p>
							</div>
						</div>

						<h2>Completed Projects</h2>

						<!-- Yellow Bluff Landing -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Museum Tower</h3>
								<p>The first high rise building developed in downtown Miami with a planned metro rail station as a critical component of the design. Project is a great example of a public/private partnership.</p>
								<p class="text-center">Completed: 1990</p>
							</div>
						</div>
					
						<h1>Affiliated Projects</h1>
						<div class="col-sm-6">
							<h2>Current</h2>

							<ul class="list-unstyled">
								<li><a href="www.bonterrafl.com" title="">Bonterra</a></li>
							</ul>
						</div>

						<div class="col-sm-6">
							<h2>Completed</h2>

							<ul class="list-unstyled">
								<li><a href="www.monterrafl.com">Monterra</a></li>
							</ul>
						</div>

					</div>

					{% include "copyright" %}

				</div> <!-- /wrapper-content -->

			</div>
		</div> <!-- /container-main -->
	</div>
</div>

{% endblock %}