/*********************************************************

Project Name: Website Bootstrap boilerplate
Project Description:
File Name: Master Sass file
Author: Spencer Bigum, Casey Jardin
Author URL:
Version: 1.0.0

*********************************************************/
// ==========================================================================
// Vendor - framework libraries
// Boostrap
// ==========================================================================
@import "vendor/index";


// ==========================================================================
// Utilities
// Config, Helpers, Mixins
// ==========================================================================
@import "core/index";
@import "core/base";
@import "core/navigation";
@import "core/containers";

// Modules
@import "modules/index";


html, body {
	height: 100%;
}

body{
   background: url('../images/bg.jpg') $body-bg no-repeat;
   background-attachment: fixed;
   padding: 0px;
}


header {
	background-color: $codina-blue;
}

header img {
	// border: 15px solid #77c6b3;
	border-bottom: none;
}

// .image-overlay {
	
// }

.logo {
	margin: 0 auto;
	max-width: 200px;

	@media (min-width: $screen-xs) {
		
	}

	@media (min-width: $screen-sm) {
		max-width: 145px;
		margin: 0;
	}

	@media (min-width: $screen-md) {
		max-width: 200px;
		
	}

	@media (min-width: $screen-lg) {
		max-width: 240px;
	}
}