// CONTAINERS
// ========================
.container-header {
	padding: 15px 0px;
	background: url('../images/header-overlay.png') #0d7c86;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;

	@media (min-width: $screen-sm) {
		max-height: 138px;
		padding: 30px 50px 50px;
	}

	@media (min-width: $screen-md) {
		max-height: 184px;
	}

	@media (min-width: $screen-lg) {
		min-height: 224px;
	}

	#hamburger {
		position: absolute;
		top: 0px; 
		right: 35px;
		color: #fff;

		i {
			position: relative;
			top: 5px;
			margin-left: 10px;
		}

		&:before {
			content: 'MENU';
			font-size: 14px;
		}
	}
}


.container-main {
	background-color: $codina-orange;

	display: inline-block;

	.wrapper-content {
		position: relative;
		top: 0px;
		border: 15px solid rgba(255,255,255,.35);
		margin-top: 15px;

		@media (min-width: $screen-sm) {
			margin-top: 0;
		}


		.header-image-container {
			
			.image-overlay {
				position: absolute;
				width: 100%;
			}
		}

		.container-content {
			background-color: #fff;
			padding: 15px;
			// border: 15px solid #c3d62e;
			border-top: none;
			display: inline-block;

			@media (min-width: $screen-sm) {
				
			}

			@media (min-width: $screen-md) {
				padding: 25px;
			}

			@media (min-width: $screen-lg) {
				padding: 50px;
			}
		}
	}

	@media (min-width: $screen-sm) {
		.wrapper-content {
			top: -120px;
		}

		.image-overlay {
			top: 88px;
		}
	}

	@media (min-width: $screen-md) {
		.wrapper-content {
			top: -163px;
		}

		.image-overlay {
			top: 121px;
		}
	}

	@media (min-width: $screen-lg) {
		.wrapper-content {
			top: -203px;
		}

		.image-overlay {
			top: 153px;
		}
	}
}

.img-content {
	margin: 10px 0;
	min-height: 150px;
}

// Master Media Query

@media (min-width: $screen-sm) {
	.container-main {
		padding: 50px;
		padding-top: 0;
	}
}

@media (min-width: $screen-md) {
	
}

@media (min-width: $screen-lg) {
	
}
