// ==========================================================================
// Helper Classes
// ==========================================================================

// Box Shadow
// =======================

.shadow {
  -webkit-box-shadow: -2.5px 0 15px 4px rgba(0,0,0,.15);
  box-shadow: -2.5px 0 15px 4px rgba(0,0,0,.15);
}

.no-margin {
  margin: 0 !important;
}

.no-padding{
  padding:0 !important;
}

.img-caption {
	margin-top: 5px;
	font-size: 12px;
}