#navDesktop {
  a { 
    color: #fff;
  }
}

.nav-side-menu {

}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 10px 18px 10px 0;
  margin: 0px 15px;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;

  @media (min-width: $screen-sm) {
    text-align: right;
    margin: 0;
  }
}

.nav-side-menu li:first-child {
  padding-top: 0;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {

}

// Active State
.nav-side-menu ul .active,
.nav-side-menu li .active {

}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {

}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {

}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {

}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {

}

.nav-side-menu li {

}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li a:hover {
  color: #c3c561;
}

@media (max-width: $screen-sm) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
}
@media (min-width: $screen-sm) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
