<div class="container-header">
	<!-- hamburger -->
	<div id="hamburger" class="visible-xs">
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
	</div>
	<!-- logo -->
	<div class="logo">
		<a href="/">
			<img src="{{ "logo.png" | asset_url }}" class="img-responsive">
		</a>
	</div>
</div>