{% block content %}

<div class="container">
	<div class="wrapper-main shadow">

		<!-- HEADER -->
		{% include "header" %}

		<!-- MAIN -->
		<div class="container-main">
			<!-- SIDEBAR -->
			<div id="navDesktop" class="col-sm-3">
				{% include "navigation" %}
			</div>
			<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="wrapper-content shadow">
					<header class="header-image-container">
						<img src="{{ "image-overlay.png" | asset_url }}" class="img-responsive image-overlay hidden-xs">
						<img src="{{ "header/01.jpg" | asset_url }}" class="img-responsive">
					</header>
					<div class="container-content">
						<h1>Lorem ipsum dolor sit amet.</h1>

						<!-- Image + Text -->
						<div class="row img-content">
							<div class="col-sm-4">
								<img src="{{ "thumbnail/armando-codina.jpg" | asset_url }}" class="img-responsive">
								<p class="img-caption">Founder and Principle Partner <a href="#">Armando Codina</a></p>
							</div>
							<div class="col-sm-8">
								<p>Codina Partners is a boutique investment firm dedicated to the South Florida real estate marketplace. With decades of experience, unparalleled local market knowledge and the soul of an institution in the body of an agile, entrepreneurial boutique, our specialized, community-focused insight helps make smart connections for institutional and individual investors the world over.</p>
								<p>Join us &mdash; it's a great time to be an investor.</p>
							</div>
						</div>

						<h2>The right properties. The right time. The right partner.</h2>
						<p>You can find Codina Partners all over South Florida. Visit some of our proudest success stories here.</p>

						<!-- Downtown Doral -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>Downtown Doral</h3>
								<p>Your new hometown. Florida's largest and most exciting mixed-use development &mdash; a thriving city-center of 2,800 residences. 100,000 square feet of retail and more than 1,000,000 square feet of work-close-to-home office space.</p>
							</div>
						</div>

						<!-- Monterra -->
						<div class="row img-content">
							<div class="col-sm-4">
								<a href="/projects/detail">
									<img src="http://placehold.it/200x150" class="img-responsive">
								</a>
							</div>
							<div class="col-sm-8">
								<h3>2020 Salzedo</h3>
								<p>A sixteen story luxury high-rise apartment community, 2020 Salzedo has started construction. The property offers a superior location in downtown Coral Gables, which has ten million square feet of offices, as well as shops and restaurants. Additionally, the area boasts close proximity to central Miami, Coconut Grove, and South Miami, as well as Miami International Airport and the University of Miami.</p>
							</div>
						</div>

					</div>

					{% include "copyright" %}

				</div> <!-- /wrapper-content -->

			</div>
		</div> <!-- /container-main -->
	</div>
</div>

{% endblock %}
