.container-main {
  background-color: #a3a60d;
  padding: 50px;
  overflow: hidden;
}

.container-header {
  padding: 50px;
  background: #0d7c86;
}

.container-content {
  background-color: #fff;
  padding: 50px;
  border: 15px solid #c3d62e;
  border-top: none;
}
